<head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width">
      <title>Glimpse</title>

      <link rel="icon" type="image/svg+xml" src="../images/pineapple.svg" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
      <link rel="stylesheet" href="../../style.css" media="screen" title="no title">
      <link rel="icon" type="image/png" href="http://www.favicon.cc/logo3d/818121.png" />

      <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
      <script type="text/javascript" src="../js/ace.js"></script>
      <script type="text/javascript" src="../js/mode-javascript.js"></script>
      <script type="text/javascript" src="../js/prism.js"></script>
      <script type="text/javascript" src="../js/scroll.js"></script>
      <script type="text/javascript" src="../js/init.js"></script>
</head>
