<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

  <body>
    <div class="container">
      <div id="learn-page">
    <div class="column-span">
      <nav role="navigation">
        <ul id="menu">
          </ul>
      </nav>
    </div>

  <div class="column-span">
    <section id="content" role="region" label="main content">
      <h1>Workout Goals for 2017</h1>
      <br>
      <div class="community-statement">
        <br>
        <p>
          As we all jump into the 2017 year with clear heads and focus, I thought it would be constructive to dish out some knowledge on how to actually complete fitness goals that you start in January and carry them to fruition to December. How am I qualified to give you these tips, you say? Well I am not. I am not a certified fitness instructor, nutritionist, or life coach, but I am aware of the power to persistence and how it can help change your life.</p>
          <p>As you know, I started writing this blog last year. At first, the goal of this blog was to comment on my progress of this coding streak that I started back in June. As I began writing it, I grew to learn that I wanted to write about other topics that interested me i.e. books and exercise (I also made a goal this year to create a another tagged section for a creative writing exercise, stay tuned for that). I also believed that if I started writing a blog about something, then I would learn more about it and would be more eager to incorporate it into my daily life. In essence, I had three goals back in June: commit more code, exercise smarter, and read more. After over 6 months, I can say that I do all of those things, which makes me very proud. I do them more because I have been persistent over the last several months, and not to toot my own horn, but I have prospered from that effort all because I was more aware of my goals.</p>
          <p>When I was 16, I worked at a gym for a summer selling gym memberships. Sure, it wasn't the most glamorous job, although I did get to wear swishy pants to work, so it worked for me. Later on I attended college and I came back home and picked up a couple of shifts during winter break to make some extra money. You won't believe this but selling gym memberships is a hard venture, but come January, I couldn't sell quick enough. Everyone knows gym memberships spike after the holiday season, but I was baffled by how much. I think in one day I successfully closed 12 memberships (bear in mind I was a junior sales rep and was in a team of 6). Lately, I was thinking about this surge and how to avoid these repetitive actions that lead you no where. Because, as you can imagine, after several weeks of solid gym time, most people would get bored and stop coming.</p>
          <p>Being aware of your goals is harder that it sounds. You need to constantly refresh yourself of these goals as time goes on. You need to keep them at the front of you mind, even when the hussle and bussle of daily life is distracting you. Here are a couple of tips that I have compiled through reading health magazine articles, job experience, and my recent blogging efforts:</p>
      </div>

      <p><b>Establishing process goals as opposed to outcome goals - </b>
        Make action item goals rather than overall goals. You will see it as less of a burden to attempt if you give your goal a realistic course of action. For instance, "I want to lost 20 pounds this year", lets make this "I want to be able to do 20 pull ups without stopping, run a quarter of a mile in less than a minute, and do 25 burpees in less than a minute." In this way, a goal is clearer and easy to plan for.</p>
      <p><b>Wake up and make time for your goals - </b>
        No joke, wake up earlier and get after it this year. Plan and prepare your body for more activity that you must rise and shine for. For any single people out there, aren't you tired of meeting people out late or at the bars, the best kind of people you meet are early risers because they tend to me more ambitious and plan for success rather than live in the moment. I mean lets face it, the person at the bar that calls it a night earlier in order to keep their appointment with their running group in the morning is probably a better person that the one at the bar buying shots for everyone. One of those personalities says, "I have goals" and the other screams, "Pay attention to me".</p>
      <p><b>Cook more, no more TV dinners - </b>
        Well this is a duh moment. You will not hit your fitness goals if you stuffing yourself with lean cuisines every night because Oprah told you they are good for you. Let me let you in on a little secret, Lean cuisines work because of portion control. It has nothing to do with the healthiness of meals. Guys back me up here, TV dinners always leave you wanting more. I think I could probably shot gun like 4 of them if I was really hungry. So if you see someone talk about all the weight they lost on TV dinners, its because they were taking in only 500 calories before bedtime. So spend more money on quality food like veggies and fresher meats. You body will thank you for it.</p>
      <p><b>Be accountable for your diet - </b>
        Make a plan and stick to it this year, especially with your diet. It is paramount that you record and monitor your diet in order to lose weight. It makes you more accountable and keeps the idea of healthy living in your brain at all times. When I started committing code every day, I had to write down reminders all the time so that I remembered to do it, now I just remember to do it all on my own. This same principle can be applied for bettering your diet.</p>
      <p><b>Turn bad news into something good - </b>
        This is one of the harder ones. Everyone handled bad news in different ways. For instance, I would weigh myself one week and see a good weight, then the following week, I weighed more. I would think to myself, well that sucks, guess I didn't focus enough, let me go run 5 miles and do 1000 crunches to beat my weight back down. That is a no-no. Take bad news as a way to motivate minor course corrections. Think of your body as a huge ship. When a ship needs to get from point A to point B it make minor course adjustments to get there because its unable to make quick turns. Your body is the same way, you won't loose 10 pounds in 2 weeks, not anymore.</p>
      <p><b>Manage out your vices - </b>
        You drink a lot, cut it down. You smoke, cut it out. You love ice cream and rom-coms,... who doesn't but next time, make the ice cream low fat and do it with a friend. A person is most likely to eat less and veg out with a partner around. I guess psychologically, people just hate making themselves look bad in front of others.</p>
      <p><b>Post-its - </b>
        Post-its are my saving grace. I keep track of all my travel, chores, and diet on them. I also keep them posted around... everywhere. In this way I can always see my goals around the house. Remember the movie, the 40-year old Virgin? Well at the beginning of the movie Steve Carrell puts post-it notes around his whole house in order to keep him honest about attempting his goals. Give it a try for a week and see how it feels.</p>
      <p><b>Have an accountabili-buddy - </b>
        Nothing beats a good buddy to keep you honest. I remember reading a survey a while back that said people who are married live longer. The survey pointed to the fact that people who surround themselves with people were happier and in that way, extended their lifespan. Having a buddy keeps you happier and when you're happy you are more likely not to get overly critical of yourself which can lead to other distractions that take you away from accomplishing your goals. Have a friend that has goals for 2017? Pair up and help each other out, you might get a life time friend out of it.</p>
    </section>


    <footer>
      <p> Created, developed, and loved by <a href='http://cpbuckingham.com' target="_blank">Cam Buckingham</a>. Made to help people better maintain a healthy lifesyle through accountability & community.
    </footer>
  </div>

<p class="clearfix"> &nbsp; </p>
<object type="image/svg+xml" data="../images/pineapple.svg" id="asterisk-design-element">
</object>
</div>
</div> 
    <div id="family">
      <p class="left"><a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
      </p>
      <p class="right">
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Register</a>
      </p>
    </div>
  </body>
</html>
