
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="p5.js a JS client-side library for creating graphic and interactive experiences, based on the core principles of Processing.">
    <title>Glimpse</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" type="image/svg+xml" src="../images/pineapple.svg" />

    <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../js/ace.js"></script>
    <script type="text/javascript" src="../js/mode-javascript.js"></script>
    <script type="text/javascript" src="../js/prism.js"></script>
    <script type="text/javascript" src="../js/scroll.js"></script>
    <script type="text/javascript" src="../js/init.js"></script>
  </head>
  <body>


<!-- p5*js language buttons -->
<div id="i18n-btn">
  <h1 class='visuallyhidden'>Language Settings</h1>
  <button data-lang="en">EN</button>
  <button data-lang="es">ES</button>
</div>
    <a href="#content" class="skip">Skip to content</a>
    <!-- .container -->
    <div class="container">


      <!-- close logo -->



      <div id="learn-page">


<!-- site navigation -->
<div class="column-span">
  <nav role="navigation">
    <ul id="menu">
      </ul>
  </nav>
</div>

<!-- <script src="../assets/js/scroll.js"></script> -->


  <div class="column-span">

    <section id="content" role="region" label="main content">
      <h1>Picking Music for a Triathlon</h1>
      <br>
      <div class="community-statement">
        <br>
        <p>
          I struggle with my music selection every time I go out for my runs and rides. Where is my music going to come from and what am I in the mood to listen to today? When I am working out or training there is no better musical style than dance music. That may not be the same for everyone else but I know that when I hear some good fast paced beats and thumps, they always get me going. Until recently, the best place to find good music that could be downloaded for free was Soundcloud.
</p>
<p>
          At Soundcloud I found the music I was looking for in large set format (an hour long track with each song transitioning to the next) which worked for me for over the last 3-5 years when working out. But as of late, Soundcloud has been not been the prime point for my favorite bands or DJs to disperse their products. For some reason I have seen a lot of artists switch to using subscription podcasts on apple music. This may be because Apple is taking over the world in the music realm now, but also because Soundcloud has skated by for years with little real threat in terms of copyright infringements. Lately, I think they have entered into a conflict that might have spooked some of my favorite artists. Also, there may be the option that Apple is offering artists who sign with them exclusive insight into metrics and easier uploading tools that give them more of a bang for their buck.
</p>
<p>          I choose music in this 1-hour long format because that is just about as long as my workouts usually last and, more importantly, the rise and fall of the energy of the set coincides with my effort in my workout. I do not like having the pause in between songs which seems to last forever when you are working out. Most marathon or triathlon blog sites will state that running with music throws runners off their rhythm and pulls them away from their concentration, but for me music is essential to keep my attention span away from my hurting muscles.
          Here are some of the artists (and their Soundcloud links) that I prefer to listen to.
</p>

<p><b>The Jane Doze - </b>
<a href='https://www.mixcloud.com/discover/the-jane-doze/' target="_blank">DD in the Trap || House of Doze sets </a>
</p>
<p><b>The White Panda - </b>
<a href='http://www.thewhitepanda.com/panda-waves' target="_blank">Panda Waves</a>
</p>
<p><b>DJ Chachi- </b>
<a href='http://djchachi.podomatic.com' target="_blank">WHLN podcast</a>
</p>
      </div>
    </section>


    <footer>
      <p> Created, developed, and loved by <a href='http://cpbuckingham.com' target="_blank">Cam Buckingham</a>. Made to help people better maintain a healthy lifesyle through accountability & community.
    </footer>


  </div> <!-- end column-span -->


<!-- outside of column for footer to go across both -->

<p class="clearfix"> &nbsp; </p>

<object type="image/svg+xml" data="../images/pineapple.svg" id="asterisk-design-element">
     *<!-- to do: add fallback image in CSS -->
</object>


</div><!-- end id="get-started-page"  -->


    </div> <!-- close class='container'-->


    <div id="family">
      <p class="left"><a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
      </p>

      <p class="right">
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Register</a>
      </p>
    </div>

  </body>
</html>
