<!doctype html>
<html>

<% include ../partials/head_auth %>

  <style>
      body        { padding-top:80px; }
  </style>

<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
  <h2>Edit your comment</h2>
  <br>
  <form action="/comments/<%=comment.id %>?_method=PUT" method="post">
      <div class="form-group">
          <input type="text" class="form-control" name="content" value="<%=comment.content%>" rows="4" cols="30">
      </div>
      <button type="submit" class="btn btn-success btn-lg">Submit</button>
  </form>
  <br>
  <form action="/comments/<%=comment.id %>?_method=DELETE" method="POST">
    <input type="submit" class="btn btn-danger btn-lg" value="Delete">
  </form>
    <hr>
    <p><a href="/auth">home</a></p>
</div>
</div>
</body>
</html>
