<!doctype html>
<html>

<% include ../partials/head_auth %>

  <style>
      body        { padding-top:80px; }
  </style>

<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
  <h2>Comment</h2>
    <%=comment.content%>
    <hr>
    <p><a href="/auth">home</a></p>
  </div>
</div>
</div>
</body>
</html>
