<!doctype html>
<html>
<head>
  <% include ../partials/head %>
  <style>
      body        { padding-top:80px; }
  </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

  <h2>Message a Friend</h2>

  <!-- DROPDOWNUSER selection -->


    <form action="/messages" method="post">
        <div class="form-group">
          <br>
          <select name="dropdownuser">
            <% users.forEach(function (user) { %>
            <p>For: <option><%=user.username%></option></p>
            <% }) %>
          </select>
          <br>
          <br>
            <input type="text" size="400" class="form-control" name="note" required>
        </div>
        <button type="submit" class="btn btn-success btn-lg">Submit</button>
    </form>
</div>
</div>
</body>
</html>
