<!doctype html>
<html>

  <% include ../partials/head %>

  <style>
      body        { padding-top:80px; }
  </style>

<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
  <h2>Message a Friend</h2>
    <form action="/messages" method="post">
        <div class="form-group">
          <br>
          <select name="dropdownuser">
            <% users.forEach(function (user) { %>
            <p>For: <option><%=user.username%></option></p>
            <% }) %>
          </select>
          <br>
          <br>
          <textarea rows="4" cols="30" name="note" class="form-control" type="text" required></textarea>
        </div>
        <button type="submit" class="btn btn-success btn-lg">Submit</button>
    </form>
</div>
</div>
</body>
</html>
