<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

  <body>
    <div class="container">
      <div id="learn-page">
      <div class="column-span">
        <nav role="navigation">
          <ul id="menu">
            </ul>
        </nav>
      </div>

  <div class="column-span">
    <section id="content" role="region" label="main content">
      <h1>About</h1>
      <br>
      <div class="community-statement">
        <h2 class="community-title">How is Glimpse changing the world?</h2>
        <br>
        <p>It's not! It's just working to help people manage their healthiness. It was born from an idea that all people need help maintaining the physical fitness, especially me. So I wanted to create an application that enabled people to do that too.</p>
        <p>At the moment it is just <a href="https://cpbuckingham.com"> Cam Buckingham</a>. Cam is determined to build a branding of "Streaker" to light. He believes that in ordre to learn new things he has to dedicate himself to complete 4-5 goals over a year long time, or a 365-day streak. He does his streaking without stopping, without adjustments, and blogs about the whole experience. Check out more on his blog about his experiences. But as more users start to use the site with their friends and we grow, we will be looking for developers to help support the site with a love for fitness and a healthy lifestyle. Stay tuned ...</p>
      </div>

      <h2>How to use Juice</h2>
      <p>There are several different freatures of this application that help uses build a more healthy lifestyle.</p>

      <p><b>Blogging - </b> Feel strong about a topic on fitness, dieting, or a lifestyle change that works? Post it up and see friends and users read your post and upvote if it awesome!</p>
      <p><b>Posting your Goals - </b>How do you accomplish goals? You post them! Make your goals apparent to everyone who visits your profile. Do you goals change often? No worries, change them whenever you need to.</p>
      <p><b>Buddying Up - </b>Did you find a person whose goals line with yours? Buddy up with them. Odds are you are trying to accomplish the same things and could use eachothers support.</p>
      <p><b>Messaging - </b>Message a buddy, ask them to meetup for a workout, get useful tips on how to accomplish your goals. Just ask. </p>

      <h2>Contributors</h2>
      <p>At the moment it is just Cam. But as more users start to use the site and we grow, we will be looking for developers to help support the site with a love for fitness and a healthy lifestyle. Stay tuned!</p>

    </section>


    <footer>
      <p> Created, developed, and loved by <a href='http://cpbuckingham.com' target="_blank">Cam Buckingham</a>. Made to help people better maintain a healthy lifesyle through accountability & community.
    </footer>
  </div>

<p class="clearfix"> &nbsp; </p>
<object type="image/svg+xml" data="../images/pineapple.svg" id="asterisk-design-element">
</object>
</div>
</div>
    <div id="family">
      <p class="left"><a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
      </p>
      <p class="right">
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Register</a>
      </p>
    </div>
  </body>
</html>
