
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="p5.js a JS client-side library for creating graphic and interactive experiences, based on the core principles of Processing.">
    <title>Glimpse</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" type="image/svg+xml" src="../images/pineapple.svg" />



    <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../js/ace.js"></script>
    <script type="text/javascript" src="../js/mode-javascript.js"></script>
    <script type="text/javascript" src="../js/prism.js"></script>
    <script type="text/javascript" src="../js/scroll.js"></script>
    <script type="text/javascript" src="../js/init.js"></script>
  </head>
  <body>


<!-- p5*js language buttons -->
<div id="i18n-btn">
  <h1 class='visuallyhidden'>Language Settings</h1>
  <button data-lang="en">EN</button>
  <button data-lang="es">ES</button>
</div>
    <a href="#content" class="skip">Skip to content</a>
    <!-- .container -->
    <div class="container">


<div id="learn-page">


<!-- site navigation -->
<div class="column-span">
  <nav role="navigation">
    <ul id="menu">
    </ul>
  </nav>
</div>

<!-- <script src="../assets/js/scroll.js"></script> -->


  <div class="column-span">

    <section id="content" role="region" label="main content">
      <h1>Blog</h1>

      <p>These tutorials provide more in-depth or step-by-step overviews of particular topics. Check out the
        <a href="/examples">examples page
        </a>to see short demonstrations of various p5.js topics.
      </p>

      <h2 class="tutorial-title" class="tutorial-title">Introduction to p5.js</h2>
      <!-- //////////////////////////////// -->


      <div class="left-column">
        <a class="nounderline" href="http://hello.p5js.org/">
          <div class="label">
            <img src="../images/box.jpg">
        </a>
        <a class="nounderline" href="http://hello.p5js.org/">
          <h4>Hhi hi
            </h4>
        </a>
        </div>
        <p>This short video will introduce you to the library and what you can do with it.</p>
      </div>

      <div class="right-column">
        <a class="nounderline" href="/get-started/">
          <div class="label">
            <img src="../images/box.jpg">
        </a>
        <a class="nounderline" href="/get-started/">
          <h4>Getting Started</h4>
        </a>
        </div>
        <p>Welcome to p5.js! <br> This introduction covers the basics of setting up a p5.js project.</p>
      </div>

      <div class="spacer"></div>

      <div class="left-column">
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/p5.js-overview">
          <div class="label">
            <img src="../images/box.jpg">
        </a>
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/p5.js-overview">
          <h4>p5.js overview</h4>
        </a>
        </div>
        <p>An overview of the main features of p5.js.</p>
      </div>

      <div class="right-column">
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Processing-transition">
          <div class="label">
            <img src="../images/box.jpg">
        </a>
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Processing-transition">
          <h4>p5.js and Processing </h4>
        </a>
        </div>
        <p>The main differences between the two, and how to convert from one to the other.</p>
      </div>
      <div class="spacer"></div>

      <div class="left-column">
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Local-server">
          <div class="label">
            <img src="../images/box.jpg">
        </a>
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Local-server">
          <h4>Using a local server </h4>
        </a>
        </div>
        <p>How to set up a local server on Mac OSX, Windows, or Linux. </p>
      </div>
      <div class="spacer"></div>

      <h2 class="tutorial-title">Connecting p5.js</h2>
      <!-- //////////////////////////////// -->

      <div class="left-column">
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Integrating-other-libraries">
          <div class="label">
            <img src="../images/box.jpg">
        </a>
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Integrating-other-libraries">
          <h4>Adding libraries </h4>
        </a>
        </div>
        <p>Finding, adding, and integrating other JS libraries.</p>
      </div>


      <div class="right-column">
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/p5.js,-node.js,-socket.io">
          <div class="label">
            <img src="../images/box.jpg">
        </a>
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/p5.js,-node.js,-socket.io">
          <h4>node.js and socket.io </h4>
        </a>
        </div>
        <p>Using a node.js server with p5.js, communcation via socket.io. </p>
      </div>
      <div class="spacer"></div>

      <h2 class="tutorial-title">Programming Topics</h2>
      <!-- //////////////////////////////// -->

      <div class="left-column">
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Beyond-the-canvas">
          <div class="label">
            <img src="../assets/img/learn/dom.jpg">
        </a>
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Beyond-the-canvas">
          <h4>Beyond the canvas </h4>
        </a>
        </div>
        <p>Creating and manipulating elements on the page beyond the canvas. </p>
      </div>


      <div class="right-column">
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Getting-started-with-WebGL-in-p5">
          <div class="label">
            <img src="../assets/img/learn/3d.jpg">
        </a>
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Getting-started-with-WebGL-in-p5">
          <h4>3D/WebGL</h4>
        </a>
        </div>
        <p>Developing advanced graphics applications in p5.js using WEBGL mode.</p>
      </div>


      <div class="spacer"></div>


      <h2 class="tutorial-title">Becoming a Better Programmer</h2>
      <!-- //////////////////////////////// -->

      <div class="left-column">
        <a class="nounderline" href="debugging.html">
          <div class="label">
            <img src="../images/box.jpg">
        </a>
        <a class="nounderline" href="debugging.html">
          <h4>Debugging </h4>
        </a>
        </div>
        <p>Field Guide to Debugging for Everyone.</p>
      </div>





      <div class="right-column">
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Optimizing-p5.js-Code-for-Performance">
          <div class="label">
            <img src="../images/box.jpg">
        </a>
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Optimizing-p5.js-Code-for-Performance"><h4>Optimizing p5.js code for performance</h4></a>
        </div>
        <p>A tutorial of tips and tricks for optimizing your code to make it run faster and smoother.</p>
      </div>
      <div class="spacer"></div>

      <div class="left-column">
        <a class="nounderline" href="/tutorials/tdd.html">
          <div class="label">
            <img src="../images/box.jpg">
        </a>
        <a class="nounderline" href="/tutorials/tdd.html">
          <h4>Unit Testing and Test Driven Development</h4>
        </a>
        </div>
        <p>Save yourself from agony on install day and write better code using unit testing, by Andy Timmons.</p>
      </div>


      <div class="spacer"></div>

      <h2 class="tutorial-title">Contributing to the Community</h2>
      <!-- //////////////////////////////// -->

      <div class="left-column">
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Development">
          <div class="label">
            <img src="../images/box.jpg">
        </a>
        <a class="nounderline" href="https://github.com/processing/p5.js/wiki/Development">
          <h4>Development</h4>
        </a>
        </div>
        <p>Getting started and overview for contributing to development.</p>
      </div>


      <div class="right-column">
        <a class="nounderline" href="http://www.luisapereira.net/teaching/looking-inside-p5/">
          <div class="label">
            <img src="../images/box.jpg">
        </a>
        <a class="nounderline" href="https://vimeo.com/156838703">
          <h4>Looking inside p5</h4>
        </a>
        </div>
        <p>A friendly intro to the file structure and tools for p5.js development, by Luisa Pereira.</p>
      </div>
      <div class="spacer"></div>

      <div class="left-column">
        <a class="nounderline" href="/tutorials/tutorial-guide.html">
          <div class="label">
            <img src="../images/box.jpg">
        </a>
        <a class="nounderline" href="/tutorials/tutorial-guide.html"><h4>Writing a Tutorial</h4></a>
        </div>
        <p>A guide to writing a p5js programming tutorial.</p>
      </div>




      <div class="spacer"></div>

    </section>


    <footer>
      <p> Created, developed, and loved by <a href='http://cpbuckingham.com' target="_blank">Cam Buckingham</a>. Made to help people better maintain a healthy lifesyle through accountability & community.
    </footer>


  </div>
  <!-- end column-span -->


<!-- outside of column for footer to go across both -->

<p class="clearfix"> &nbsp; </p>

<object type="image/svg+xml" data="../images/pineapple.svg" id="asterisk-design-element">
</object>


</div>
<!-- end id="get-started-page"  -->

    </div> <!-- close class='container'-->


    <div id="family">
      <p class="left"><a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
      </p>

      <p class="right">
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Register</a>
      </p>
    </div>
  </body>
</html>
