
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="p5.js a JS client-side library for creating graphic and interactive experiences, based on the core principles of Processing.">
    <title>Glimpse</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" type="image/svg+xml" src="../images/pineapple.svg" />

    <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../js/ace.js"></script>
    <script type="text/javascript" src="../js/mode-javascript.js"></script>
    <script type="text/javascript" src="../js/prism.js"></script>
    <script type="text/javascript" src="../js/scroll.js"></script>
    <script type="text/javascript" src="../js/init.js"></script>
  </head>
  <body>


<!-- p5*js language buttons -->
<div id="i18n-btn">
  <h1 class='visuallyhidden'>Language Settings</h1>
  <button data-lang="en">EN</button>
  <button data-lang="es">ES</button>
</div>
    <a href="#content" class="skip">Skip to content</a>
    <!-- .container -->
    <div class="container">


      <!-- close logo -->



      <div id="learn-page">


<!-- site navigation -->
<div class="column-span">
  <nav role="navigation">
    <ul id="menu">
      </ul>
  </nav>
</div>

<!-- <script src="../assets/js/scroll.js"></script> -->


  <div class="column-span">

    <section id="content" role="region" label="main content">
      <h1>Shedding for your Wedding</h1>
      <br>
      <div class="community-statement">
        <br>
        <p>
          Over the last several weeks I have made some interesting adjustments to my diet in order to prepare myself for our wedding date. I am getting married on February 14th and wanted to look my best so I made some minor fixes to my diet, workout routine, and how I handle stress.
</p>
<p>
          My diet has had some major overhauls since the beginning of this year. I have cut out pasta (so I have stopped buying it at the store). Pasta was a major indulgence food for me. It was my comfort food. I have also peppered in a light desert after my FIRST portion of dinner. Normally I find myself eating a lot at dinner very quickly, so by eating slower (HOT SAUCE HELPS) and adding a light desert, I am tricking my body into thinking its full after desert. I have seen the most change in my waistline since I started cutting back on pasta and having smaller dinners. One major thing that I have changed is I buy my lunch at work now. Instead of trying to save a couple of dollars here and there, I go to the cafeteria and have them make me a veggie wrap with fresh veggies and some chicken. Before I would make meals for the week at home and they would be fine, but having fresh veggies in your diet on a regular basis has really been uplifting on my energy level. So before I might have saved 10-15 bucks a weeks on meal, but wouldn't have the energy level I have now.
        </p>
            <p>

          My exercise routine is less muscle-oriented and more cardio. I have up'ed my swimming to twice a week. I have also started doing 1-2 mile walk immediately after dinner at least 3 times a week. This gives me time to hop on the phone with my friends and family and catch up on their days with them. It is very fulfilling. I also live in a suburban neighborhood, so where I walk is very safe and quiet. I have cut back on hard muscle workouts (squats, back, and abs) mostly because they make me tired and with a lighter diet, I feel pretty pooped after the most basic workout. I learned this regiment through trial and error in 2015, so I took time to implement this in 2016. If I worked out super duper hard, I'd eat more. If I tried really hard to maintain my tough workout routine and good diet, the temptation would get me after 2-3 days and I would binge eat as a result of my metabolism catching up to me. In this way I am looking at 2016 as a year to right the ship that is my eating habits and, finally, learn from my mistakes.
        </p>
            <p>

          Work has been pretty stressful recently, so I am making sure to control my stress level by having three meals a day, stretching, getting 8+ hours of sleep a night, and reading before bed (not watching TV in bed). I find that reading helps me fall asleep and unwind. I also find myself coding a little when I get home to keep up with my coding streak, so I choose not to carry my screens with me to bed. This allows my brain to slowly turn off and gives me a deeper sleep. I also have started stretching a work a lot more. Instead of sitting in my chair during meetings I will stand in the back and do minor stretches. I am not that weird guy at the back of the meeting busting out a dancers' pose that transitions to lotus... Mainly I just do a lot of leg and arm stretching with some back bends. That seems to work for me. It makes me more attentive during the meeting and I find that I am most productive post meeting because of the energy I have accumulated from the stretch.
        </p>
            <p>

          So in summation, in order to lose weight over a 3 month time, one must make minor adjustments like this:
        </p>
<ul>
          <li>Sleep +8 hours a night</li>
            <li>Stretch more</li>
          <li>  Balanced - three meal a day at minimum</li>
            <li>Eat Fresh foods if you can (the cost is worth it)</li>
            <li>Swim (stretches you and is a hard workout)</li>
            <li>Eat slow during meals (incorporate a LIGHT dessert to trigger your body to think its done)</li>
            <li>Make time to talk to people. Reach out to your friends and ask them questions on how they are. The more you give yourself to others, the less distracted you are with your own cravings.</li>
</ul>


      </div>
    </section>


    <footer>
      <p> Created, developed, and loved by <a href='http://cpbuckingham.com' target="_blank">Cam Buckingham</a>. Made to help people better maintain a healthy lifesyle through accountability & community.
    </footer>


  </div> <!-- end column-span -->


<!-- outside of column for footer to go across both -->

<p class="clearfix"> &nbsp; </p>

<object type="image/svg+xml" data="../images/pineapple.svg" id="asterisk-design-element">
     *<!-- to do: add fallback image in CSS -->
</object>


</div><!-- end id="get-started-page"  -->


    </div> <!-- close class='container'-->


    <div id="family">
      <p class="left"><a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
      </p>

      <p class="right">
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Register</a>
      </p>
    </div>

  </body>
</html>
