<!doctype html>
<html>
<head>
  <% include ../partials/head %>
  <style>
      body        { padding-top:80px; }
  </style>
</head>
<body>
  <div class="container">
    <div class="span3 well">
        <center>
        <img src="<%=user.avatar %>" name="aboutme" width="180" height="180" class="img-circle"></a><h3>Hey, <%=user.username %></h3>
        <a class="btn btn-success" href="/posts" role="button">Create a Post</a>
        <a class="btn btn-warning" href="/users/<%= user.id %>" role="button">Your Posts</a>
        <a class="btn btn-danger" href="/auth/logout" role="button">Logout</a>
      </center>
    </div>
</div>
</body>
</html>
