<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <title>Document</title>
</head>

<body>
    <% if (user){ %>
        <h2>Logged in as: <%=user.username %></h2>
        <p>
            <a href="/posts">Go check out the front page</a>
        </p>
        <p>
            <a href="/users/<%= user.id %>">Go check out your page</a>
        </p>
        <p>
            <a href="/auth/logout">Log Out</a>
        </p>
        <% } else { %>
            <h2>You're currently not logged in!</h2>
            <p>
                <a href="/auth/login">Login</a>
            </p>
            <% } %>
</body>

</html>
