<!doctype html>
<html>
<head>
  <% include ../partials/head_auth %>
  <style>
  .posts{
    text-align: center;
  }
  </style>
</head>
<body>
  <div class="container_auth">
    <div class="span3 well">
        <center>
        <img src="<%=user.avatar %>" name="aboutme" width="180" height="180" class="img-circle"></a><h3>Hey, <%=user.username %></h3>
        <a class="btn btn-success" href="/posts/new" role="button">Create a Post</a>
        <a class="btn btn-warning" href="/users/<%= user.id %>/edit" role="button">Edit Profile</a>
        <a class="btn btn-danger" href="/auth/logout" role="button">Logout</a>
      </center>
    </div>
  </div>
<% include ../partials/dashboard %>
</body>
</html>
