<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <title>Log In</title>
</head>

<body>
    <h2>Log In Page</h2>
    <form action="/auth/login" method="post">
        <label for="username">Username: </label>
        <input type="text" name="username" id="login-username">
        <label for="hashed_password">Password: </label>
        <input type="password" name="hashed_password" id="login-password">
        <input type="submit">
    </form>
</body>

</html>
