<!doctype html>
<html>

  <% include ../partials/head %>

  <style>
      body        { padding-top:80px; }
  </style>

<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
  <h2>Edit this post</h2>
    <form class="" action="/posts/<%= post.id %>?_method=PUT" method="post">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" value="<%=post.title%>" required>
        </div>
        <div class="form-group">
            <label>Body</label>
            <input type="text" size="400" class="form-control" name="body" value="<%=post.body%>" required>
        </div>
        <button type="submit" class="btn btn-success btn-lg">Submit</button>
    </form>
    <hr>
    <p><a href="/auth">home</a></p>
</div>
</div>
</body>
</html>
