<!doctype html>
<html>

  <% include ../partials/head_auth %>

  <style>
      body        { padding-top:80px; }
  </style>

<body>
  <div class="container">
  <div class="col-sm-6 col-sm-offset-3">
  <h2>Here are all the posts</h2>
  <ul>

  <% posts.forEach(function (post) { %>
    <li><a href="/posts/<%= post.id %>"><%=post.title  %></a> - <%=post.username %></li>
  <% }) %>
  </ul>
  <hr>
  <a class="btn btn-success" href="/posts/new">Add a Post</a>
  <a class="btn btn-default" href="/auth">Home</a>
</div>
</div>
</body>
</html>
